*.class
*.gitignore
*.settings
# Package Files #
*.jar
*.war
*.ear
/target/
/log/
/.settings/
*.project
*.classpath
*apiclient_cert.p12
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/Maven__ch_qos_logback_logback_classic_1_1_11.xml
.idea/libraries/Maven__ch_qos_logback_logback_core_1_1_11.xml
.idea/libraries/Maven__com_101tec_zkclient_0_6.xml
.idea/libraries/Maven__com_acts_alipay_sdk_java_1_0_0.xml
.idea/libraries/Maven__com_acts_alipay_trade_sdk_1_0_0.xml
.idea/libraries/Maven__com_alibaba_dubbo_2_8_4.xml
.idea/libraries/Maven__com_alibaba_fastjson_1_2_7.xml
.idea/libraries/Maven__com_fasterxml_classmate_1_3_4.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_8_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_8_10.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_8_10.xml
.idea/libraries/Maven__com_github_liyiorg_weixin_popular_2_8_16.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_8_2.xml
.idea/libraries/Maven__com_google_guava_guava_18_0.xml
.idea/libraries/Maven__com_google_zxing_core_3_2_1.xml
.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_2_0.xml
.idea/libraries/Maven__com_sun_xml_bind_jaxb_impl_2_1_12.xml
.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
.idea/libraries/Maven__com_vdurmont_emoji_java_3_1_3.xml
.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_9_3.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_10.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2_2.xml
